<!DOCTYPE html>
<html>
  <head>
    <title>BAIZ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav-container">
    <ul class="nav-bar">

      <li id="logo"> <%= link_to "BAIZ", root_path%></li>

      <li> 
        <%= form_tag(questions_query_path) do %>
          <%= text_field_tag :question, nil, placeholder: "Ask or Search Baiz"%>
          <%= submit_tag "Ask Question", class: "submit-button" %> 
        <% end %>
      </li>

      <li> <%= link_to "Read", root_path%></li>
      <li><a href="">Answer</a></li>
      <li><a href="">Notifications</a></li>

      <% if logged_in? %>
        <li> <a href=""> <%= current_user.username %> </a> </li> 
        <li><%= link_to "Logout", log_out_path %></li>
      <% else %>
        <li><%= link_to "Login", log_in_path %></li>
        <li> <%= link_to "Register", new_user_path %></li>
      <% end %>

    </ul>
    </div>

    <%= yield %>
  </body>
</html>
