<!DOCTYPE html>
<html>
  <head>
    <title>Torah Questions </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
  		<div class="search-bar-box">
  		  <%= form_tag(questions_query_path) do %>
  			<%= text_field_tag :question %>
 			<%= submit_tag "Ask" %> <!-- :style => "display: none;" -->
		  <% end %>
  		</div>
  	</nav>
    <%= yield %>
  </body>
</html>
