<!DOCTYPE html>
<html>
  <head>
    <title>Torah Questions </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav>
    <ul class="nav-bar">

      <li id="logo"> <%= link_to "BAIZ", root_path%></li>

      <li> 
        <%= form_tag(questions_query_path) do %>
          <%= text_field_tag :question, nil, placeholder: "Ask or Search Baiz"%>
          <%= submit_tag "Ask Question", class: "submit-button" %> 
        <% end %>
      </li>

      <li>Read</li>
      <li>Answer</li>
      <li>Notifications</li>
      <li>Profile </li>
    </ul>
        
      
</nav>

    <%= yield %>
  </body>
</html>
