<!-- <div class="scroll-hider"> -->
	
<!-- 	make the option feed fixed but withing the scrolling feed and make them inside the main page.
	so basically they will be inside a set div and the only thing that chages is the margin
 -->

  <div class="home-page">



<!-- 	  <div class="options-feed">
	  	<h4>Trending</h4>
	  	<h4>Daf Yomi</h4>
	  	<h4>Weekly Parsha</h4>
	  </div> -->
<!-- gegr -->
    <% @questions.each do |q| %>
      <div class="question-display-box">
	    <div class="question-title">
	      <%= link_to  q.title, question_path(q) %>	
	    </div>	

	    <% unless q.answers.empty?%>
	      <div class="answer-user-info">
	        <%= q.answers.first.user.username %>,
	  	    <%= q.answers.first.user.bio %>
	      </div>
	      <div class="single-answer-display">
	        <%= q.answers.first.body %>
	      </div>
	    <% end %>
		

 	    <div class="info-and-options">
 	      <div class="attr-tag">
 		    <%= link_to "Answer", new_question_answer_path(q) %>
 	      </div>

 	      <div class="attr-tag">
 	      	 <%=q.votes.count %> : <%= link_to "Upvote", q_upvote_path(q) %>
 	      </div>

 	      <div class="attr-tag">
 	       <%= form_tag(send_to_user_path(q.id)) do %>
 	       	<%= text_field_tag :username, nil, placeholder: "Ask User", class: "username"%>
 	       <% end %>
 	      </div>
 	    </div>
	  </div>

    <div class="line-break"></div>
    <% end %>	
  </div>	

<!-- </div> -->




