<br>
<br>
<br>
<br>
<br>
<br>
<!-- gegr -->
<%= react_component 'Feed' %>
<div class="question-display-box">

  <div class="question-title">
    <%= @question.title %>	
  </div>

   <div class="info-and-options">

    <div class="attr-tag">
      <%= link_to "Answer", new_question_answer_path(@question) %>
 	  </div>

    <div class="attr-tag">
 	     <%= @question.votes.count %> : <%= link_to "Upvote", q_upvote_path(@question) %>
 	  </div>

 	  <div class="attr-tag">
 	    <%= form_tag(send_to_user_path(@question.id)) do %>
        <%= text_field_tag :username, nil, placeholder: "Ask User", class: "username"%>
      <% end %>
 	  </div> 
  </div>

</div>



<div class="question-display-box">
  
  <% unless @question.answers.empty?%>
    <% @question.answers.each do |ans|%>

    	<div class="line-break"></div>
      <div class="answer-user-info">
	      <%= ans.user.username %>,
	      <%= ans.user.bio %>
	    </div>
	    <div class="single-answer-display">
	      <%= ans.body %>
	    </div>

	    <div class="info-and-options">
        <div class="attr-tag">
 	        <%= ans.votes.count %> : <%= link_to "Upvote", a_upvote_path(ans) %>
 	       </div>
      </div>
      <br>

	  <% end %>
  <% end %>
		
</div>
