<div class="question-display-box">

  <div class="question-title">
    <%= @question.title %>	
  </div>

   <div class="info-and-options">

    <div class="attr-tag">
      <%= link_to "Answer", new_question_answer_path(@question) %>
 	  </div>

    <div class="attr-tag">
 	    <a href="">Upvote</a>
 	  </div>

 	  <div class="attr-tag">
 	    <a href="">Seek Answer</a>
 	  </div> 
  </div>

</div>



<div class="question-display-box">
  
  <% unless @question.answers.empty?%>
    <% @question.answers.each do |ans|%>

    	<div class="line-break"></div>
      <div class="answer-user-info">
	      <%= ans.user.username %>,
	      <%= ans.user.bio %>
	    </div>
	    <div class="single-answer-display">
	      <%= ans.body %>
	    </div>

	    <div class="info-and-options">
        <div class="attr-tag">
 	        <a href="">Upvote</a>
 	       </div>
      </div>
      <br>

	  <% end %>
  <% end %>
		
</div>
